.DS_Store
*.PRN
*.REL
L80
M80
ESC80.RK
*.SYM
*.BIN
ED_SC80.layout
/.codelite
/.vs/ED_SC80/FileContentIndex
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
*.json
/.vs/ED_SC80/v17
/Debug/ED_SC80.log
/EDSC80. EL
/Debug/ED_SC80.vcxproj.AssemblyReference.cache
*.log
/_Rk60k
/_Rk32k
/_palmiraCPM
/_palmira
/.vs/ED_SC80/v16/.suo
/CPM/ED_SC80.vcxproj.AssemblyReference.cache
/Palmira/ED_SC80.vcxproj.AssemblyReference.cache
/EDSC80.NOI
/EDSC80.PRN.ASM
/ED_SC80.vcxproj.filters
/vt37.asm
